<div class="song-display-area">
  <div class="song-title-container">
    <% if (locals.songDisplay.title){ %>
      <div class="listen-options">
        <a class="song-display-title <%= locals.songDisplay.title=== "Listen" ? "active-title" : "" %>" href="<%= locals.songDisplay.title=== "Listen" ? "" : "/listen" %>">Listen</a>
        <span> / </span>
        <a class="song-display-title <%= locals.songDisplay.title=== "Playlist" ? "active-title" : "" %>" href="<%= locals.songDisplay.title=== "Playlist" ? "" : "/listen/playlists" %>">Playlists</a>  
      </div>
      <% } %>
  <% if(locals.songDisplay.type) { %>
      <% let type %>
      <% if(locals.songDisplay.type === "box") { %>
            <% type = "box" %>
      <% } else { %>
            <% type = "list" %>
      <% } %>
      <div class="layout-toggle">
        <div class="layout-icon <%= type === "list" ? "" : "active" %>"" id="box-icon"><svg viewBox="144 144 512 512" xmlns="http://www.w3.org/2000/svg"><g><path d="m364.73 282.61v82.121h-82.121V282.61h82.121m9.0703-20.152h-100.76c-6.0469.0-10.578 5.0391-10.578 10.578v100.76c0 6.0469 5.0391 10.578 10.578 10.578h100.76c6.0469.0 10.578-5.0391 10.578-10.578v-100.76c.50391-6.043-4.5312-10.578-10.578-10.578z"/><path d="m517.39 282.61v82.121h-82.121V282.61h82.121m9.5703-20.152h-100.76c-6.0469.0-10.578 5.0391-10.578 10.578v100.76c0 6.0469 5.0391 10.578 10.578 10.578h100.76c6.0469.0 10.578-5.0391 10.578-10.578v-100.76c.003906-6.043-4.5312-10.578-10.578-10.578z"/><path d="m364.73 435.27v82.121h-82.121V435.27h82.121m9.0703-20.152h-100.76c-6.0469.0-10.578 5.0391-10.578 10.578v100.76c0 6.0469 5.0391 10.578 10.578 10.578h100.76c6.0469.0 10.578-5.0391 10.578-10.578v-100.76c.50391-5.5391-4.5312-10.578-10.578-10.578z"/><path d="m517.39 435.27v82.121h-82.121V435.27h82.121m9.5703-20.152h-100.76c-6.043.0-11.082 5.0391-11.082 11.082v100.76c0 6.0469 5.0391 10.578 10.578 10.578h100.76c6.0469.0 10.578-5.0391 10.578-10.578V426.2c.50781-6.043-4.0273-11.082-10.074-11.082z"/></g></svg></div>
        <div class="icon-divider"></div>
        <div class="layout-icon <%= type === "list" ? "active" : "" %>" id="list-icon"><svg viewBox="144 144 512 512" xmlns="http://www.w3.org/2000/svg"><defs><clipPath id="f"><path d="m316 241h335.9v57H316z"/></clipPath><clipPath id="e"><path d="m316 372h335.9v56H316z"/></clipPath><clipPath id="d"><path d="m316 502h335.9v57H316z"/></clipPath><clipPath id="c"><path d="m148.09 241h93.906v57H148.09z"/></clipPath><clipPath id="b"><path d="m148.09 372h93.906v56H148.09z"/></clipPath><clipPath id="a"><path d="m148.09 502h93.906v57H148.09z"/></clipPath></defs><g><g clip-path="url(#f)"><path d="m344.02 297.37h279.89c15.449.0 27.988-12.52 27.988-27.988s-12.539-27.992-27.988-27.992H344.02c-15.449.0-27.988 12.523-27.988 27.992s12.539 27.988 27.988 27.988z"/></g><g clip-path="url(#e)"><path d="m344.02 427.99h279.89c15.449.0 27.988-12.539 27.988-27.988.0-15.469-12.539-27.992-27.988-27.992H344.02c-15.449.0-27.988 12.523-27.988 27.992.0 15.449 12.539 27.988 27.988 27.988z"/></g><g clip-path="url(#d)"><path d="m344.02 558.61h279.89c15.449.0 27.988-12.539 27.988-27.988.0-15.453-12.539-27.992-27.988-27.992H344.02c-15.449.0-27.988 12.539-27.988 27.992.0 15.449 12.539 27.988 27.988 27.988z"/></g><g clip-path="url(#c)"><path d="m176.08 297.37h37.32c15.449.0 27.988-12.52 27.988-27.988S228.849 241.39 213.4 241.39h-37.32c-15.449.0-27.988 12.523-27.988 27.992s12.539 27.988 27.988 27.988z"/></g><g clip-path="url(#b)"><path d="m176.08 427.99h37.32c15.449.0 27.988-12.539 27.988-27.988.0-15.469-12.539-27.992-27.988-27.992h-37.32c-15.449.0-27.988 12.523-27.988 27.992.0 15.449 12.539 27.988 27.988 27.988z"/></g><g clip-path="url(#a)"><path d="m176.08 558.61h37.32c15.449.0 27.988-12.539 27.988-27.988.0-15.453-12.539-27.992-27.988-27.992h-37.32c-15.449.0-27.988 12.539-27.988 27.992.0 15.449 12.539 27.988 27.988 27.988z"/></g></g></svg></div>
      </div>
    </div>
    <% if (locals.artistDisplay) { %>
      <div class="artist-title"><%= locals.artistDisplay.name ? locals.artistDisplay.name : "Artist Name." %></div>
      <div class="artist-description"><%= locals.artistDisplay.description ? locals.artistDisplay.description : "This is an artist." %></div>
    <% } %>
    <% if (locals.playlists) { %>
      <%-include("./playlists.ejs")%>
    <% } %>
    <% if (locals.playlist && locals.playlist.name) { %>
      <div class="playlist-name"><%= locals.playlist.name%></div>
    <% } %>
      <% if(locals.songs) { %>
        <% locals.songs.forEach(e => { %>
          <div class="<%=type%> song" data-song-id="<%=e.id ? e.id : "song"%>">
            <div class=" img">
              <img class="song-img" src="<%=e.artwork%>" />
            </div>
            <div class="song-info">
              <div class="song-name"><%=e.name%></div>
              <a class="song-artist" href="/listen/artist?name=<%=e.artist%>"><%=e.artist%></a>
            </div>
          </div>
        <% }) %>
    <% } %>
  <% } %>
</div>