<div class="song-display-area">
  <div class="song-display-title"><%= locals.songDisplay.title ? locals.songDisplay.title : "Title" %></div>
  <% if(locals.songDisplay.type) { %>
      <% let type %>
      <% if(locals.songDisplay.type === "box") { %>
            <% type = "box" %>
      <% } else { %>
            <% type = "list" %>
      <% } %>
      <% if(locals.songs) { %>
        <% locals.songs.forEach(e => { %>
          <div class="song-<%=type%>">
            <div class="img-<%=type%>">
              <img class="song-<%=type%>-img" src="<%=e.artwork%>" />
            </div>
            <div class="song-<%=type%>-info">
              <div class="song-<%=type%>-name"><%=e.name%></div>
              <a class="song-<%=type%>-artist" href="/artists/<%=e.artist%>"><%=e.artist%></a>
            </div>
          </div>
        <% }) %>
    <% } %>
  <% } %>
</div>